@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Monoton&family=MuseoModerno:wght@600&display=swap');
body{
    background-color: #db8442;
    font-family: 'Monoton';
    font-size: 30px;
}

nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #D6742B;
    overflow: auto;

}

nav li{
    float: left;

}

nav li a{
    display:block;
    text-decoration: none;
    color:white;
    padding: 15px 20px;
}

nav li a:hover 
{
    background-color: #80B0A4;
    color: white;

}

#container {
    display: flex;
    align-items: center;
}

#container p {
    margin-left: 1em;
}

p{
    font-size: 40px;
    /* font-weight: bold; */
    font-family: 'Fredoka One';
    color: #FFE7BD;
}

#About {
    color: white;
    font-size:35px;
}

#Works {
    color: white;
    font-size:35px;
}

#Contact {
    color: white;
    font-size:35px;
}

#Resume {
    color: white;
    font-size:35px;
}